{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">

    <div class="login-container">
    <div class="form-container" >
        <form method="post">
            {% if error %}
                <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                   Vous êtes déjà connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1>Veuillez vous connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" placeholder="example@gmail.com" name="email" id="inputEmail" class="form-input" autocomplete="email" required autofocus>

            <label for="inputPassword">Mot de passe</label>
            <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-input" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit" class="form-button">
               Connexion
            </button>
        </form>
        <h5>Vous n'avez pas de compte ?         <a href="{{ path('app_register') }}" class="form-button">Créer un compte</a>
        </h5>
    </div>
    </div>

{% endblock %}
