{% extends 'base.html.twig' %}

{% block title %}Vote4You - Créer un sondage{% endblock %}

{% block body %}


    <link rel="stylesheet" href="{{ asset('css/home.css') }}">

    <div class="home-container">
        <h1 class="home-title">
            <span>Créez</span> et <span>partagez</span> vos <span>sondages</span> en un <span>clic</span>
        </h1>

        <!-- Barre de recherche -->
        <div class="search-bar">
            <form method="GET" action="{{ path('search_survey') }}">
                <input
                        type="text"
                        name="query"
                        class="search-input"
                        placeholder="Rechercher un sondage par titre..."
                        value="{{ app.request.get('query')|default('') }}"
                >
                <button type="submit" class="search-button">Rechercher</button>
            </form>
        </div>

        <!-- Section des tags de filtrage -->
        <div class="tag-filter">

            {% for tag in tags %}
                <a href="{{ path('filter_by_theme', { id: tag.id }) }}" class="tag-item">{{ tag.libelle }}</a>
            {% endfor %}
        </div>

        <!-- Section Tendance -->

        <!-- templates/home/index.html.twig -->
        <div class="trending-section">
            {% if surveys|length > 0 %}
                {% for survey in surveys %}
                    <div class="survey-card">
                        {% if survey.image_url %}
                            <img src="{{ asset('uploads/sondages/' ~ survey.image_url) }}" alt="Image du sondage" class="survey-image">
                        {% else %}
                            <img src="{{ asset('/uploads/images/default-image.jpg') }}" alt="Image par défaut" class="survey-image">
                        {% endif %}
                        <div class="survey-title">{{ survey.title }}</div>
                        <div class="survey-description">{{ survey.description }}</div>
                        <div class="survey-tags">
                            {% for tag in survey.tags %}
                                <span class="survey-tag">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        {% if survey.hasVoted %}
                        <a href="{{ path('app_sondage_results', { id: survey.id }) }}" class="vote-button">Voir les résultats</a>
                        {% else %}
                            <a href="{{ path('vote', { id: survey.id }) }}" class="vote-button ">Voter</a>

                        {% endif %}
                            <div class="survey-info">
                            <div>
                                <img src="{{ survey.user.profile_picture_url }}" alt="Photo de profil" class="profile-picture">
                                <span>{{ survey.user.name }}</span>
                            </div>
                            <div class="time-remaining">
                                {{ survey.time_remaining }} restants
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-results">
                    Aucun sondage ne correspond à votre recherche
                    {% if query is defined and query is not empty %}
                        "{{ query }}".
                    {% else %}
                        .
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <!-- Bouton Créer un vote -->
        <div class="create-button-container">
            <div class="create-button-label">CRÉER UN SONDAGE </div>
            <svg class="arrow-sondage" width="75" height="auto" viewBox="0 0 118 169" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.2322 167.768C41.2085 168.744 42.7915 168.744 43.7678 167.768L59.6777 151.858C60.654 150.882 60.654 149.299 59.6777 148.322C58.7014 147.346 57.1184 147.346 56.1421 148.322L42 162.464L27.8579 148.322C26.8816 147.346 25.2986 147.346 24.3223 148.322C23.346 149.299 23.346 150.882 24.3223 151.858L40.2322 167.768ZM44.599 5.44047C45.9469 5.14095 46.7967 3.80551 46.4972 2.45767C46.1977 1.10984 44.8622 0.260014 43.5144 0.559532L44.599 5.44047ZM25.1065 17.1334L23.2867 15.4192L23.2867 15.4192L25.1065 17.1334ZM12.6209 49.3931L10.1338 49.6462L10.1338 49.6462L12.6209 49.3931ZM53.2466 83.4908L52.5479 85.8912L52.5479 85.8912L53.2466 83.4908ZM107.816 79.9416L109.272 81.9738L109.272 81.9738L107.816 79.9416ZM108.83 58.2661L110.213 56.1836L110.213 56.1836L108.83 58.2661ZM63.5773 52.8156L63.7968 55.3059L63.7968 55.3059L63.5773 52.8156ZM20.163 68.2799L21.781 70.1857L21.781 70.1857L20.163 68.2799ZM3.74792 104.279L6.16715 103.649L6.16715 103.649L3.74792 104.279ZM31.0958 125.035L31.8317 122.646L31.8317 122.646L31.0958 125.035ZM68.1406 121.645L69.7564 123.552L69.7564 123.552L68.1406 121.645ZM68.1089 108.462L66.3783 110.266L66.3783 110.266L68.1089 108.462ZM52.5177 107.86L51.452 105.598L51.452 105.598L52.5177 107.86ZM39.2751 137.616C39.2751 138.997 40.3944 140.116 41.7751 140.116C43.1558 140.116 44.2751 138.997 44.2751 137.616H39.2751ZM39.5 125V166H44.5V125H39.5ZM43.5144 0.559532C39.3891 1.47627 35.4584 4.0645 32.0972 6.8569C28.6996 9.67959 25.6334 12.928 23.2867 15.4192L26.9263 18.8476C29.294 16.3341 32.1633 13.3024 35.2923 10.7028C38.4579 8.07301 41.6451 6.09689 44.599 5.44047L43.5144 0.559532ZM23.2867 15.4192C15.0609 24.1517 8.83545 36.8856 10.1338 49.6462L15.1081 49.1401C14.0008 38.2566 19.3506 26.8899 26.9263 18.8476L23.2867 15.4192ZM10.1338 49.6462C10.9088 57.2641 14.8507 63.5852 20.1303 68.6876L23.605 65.0922C18.8992 60.5444 15.7299 55.2521 15.1081 49.1401L10.1338 49.6462ZM20.1303 68.6876C29.1734 77.427 42.5208 82.9724 52.5479 85.8912L53.9453 81.0904C44.2178 78.2589 31.787 72.9995 23.605 65.0922L20.1303 68.6876ZM52.5479 85.8912C60.961 88.3401 71.1357 90.1723 81.1663 90.0139C91.1756 89.8558 101.266 87.7102 109.272 81.9738L106.359 77.9094C99.4797 82.8388 90.5224 84.8655 81.0873 85.0145C71.6735 85.1631 62.0066 83.437 53.9453 81.0904L52.5479 85.8912ZM109.272 81.9738C113.806 78.7251 116.878 74.2293 117.326 69.3923C117.788 64.4088 115.413 59.6371 110.213 56.1836L107.447 60.3487C111.373 62.9562 112.613 66.0686 112.347 68.9307C112.068 71.9394 110.07 75.2508 106.359 77.9094L109.272 81.9738ZM110.213 56.1836C103.57 51.7717 95.19 50.0577 86.9448 49.5464C78.6724 49.0333 70.2421 49.7184 63.3578 50.3252L63.7968 55.3059C70.6979 54.6976 78.7832 54.0498 86.6353 54.5368C94.5146 55.0254 101.869 56.6442 107.447 60.3487L110.213 56.1836ZM63.3578 50.3252C48.0292 51.6763 32.9383 55.0474 20.3265 64.9214L23.4088 68.8583C34.8955 59.8652 48.836 56.6246 63.7968 55.3059L63.3578 50.3252ZM20.3265 64.9214C19.7267 65.391 19.1328 65.8751 18.545 66.3742L21.781 70.1857C22.3182 69.7297 22.8609 69.2873 23.4088 68.8583L20.3265 64.9214ZM18.545 66.3742C13.408 70.7354 8.16925 76.5109 4.66956 83.0775C1.16537 89.6526 -0.680642 97.1978 1.3287 104.909L6.16715 103.649C4.56994 97.5188 5.96185 91.2837 9.08203 85.4291C12.2067 79.5662 16.9787 74.2628 21.781 70.1857L18.545 66.3742ZM1.3287 104.909C3.05875 111.549 7.89693 116.394 13.3397 119.913C18.795 123.44 25.1287 125.813 30.3598 127.425L31.8317 122.646C26.778 121.09 20.9471 118.877 16.0543 115.714C11.149 112.543 7.4557 108.594 6.16715 103.649L1.3287 104.909ZM30.3598 127.425C33.7866 128.48 37.6363 129.353 41.6311 129.844L42.2414 124.882C38.5634 124.429 35.0022 123.623 31.8317 122.646L30.3598 127.425ZM41.6311 129.844C51.1581 131.016 62.057 130.074 69.7564 123.552L66.5247 119.737C60.409 124.917 51.2469 125.989 42.2414 124.882L41.6311 129.844ZM69.7564 123.552C74.9832 119.125 74.3344 110.969 69.8394 106.658L66.3783 110.266C69.0975 112.874 69.12 117.539 66.5247 119.737L69.7564 123.552ZM69.8394 106.658C67.2153 104.141 63.6702 103.393 60.4526 103.46C57.2132 103.528 53.9557 104.419 51.452 105.598L53.5835 110.121C55.5259 109.206 58.0962 108.51 60.5569 108.459C63.0394 108.407 65.0667 109.008 66.3783 110.266L69.8394 106.658ZM51.452 105.598C42.1599 109.977 39.979 119.061 39.4417 127.198L44.4308 127.528C44.9432 119.768 46.918 113.263 53.5835 110.121L51.452 105.598ZM39.4417 127.198C39.2036 130.804 39.2751 134.457 39.2751 137.616H44.2751C44.2751 134.321 44.2069 130.918 44.4308 127.528L39.4417 127.198Z" fill="black"/>
            </svg>

            <a href="{{ path('app_sondage_new') }}" class="create-button">+</a>
        </div>
    </div>


{% endblock %}
