{% extends '/admin/index.html.twig' %}

{% block title %}Sondage index{% endblock %}

{% block body %}
    {% block spinner %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock %}
      {% block content %}
<div class="content">
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    <h1>Sondage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Publique</th>
                <th>CreatedAt</th>
                <th>Date_fin</th>
                <th>Nombre de votes</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sondageData in sondages %}
            <tr>

                <td>{{ sondageData.sondage.id }}</td>
                <td>{{ sondageData.sondage.titre }}</td>
                <td>{{ sondageData.sondage.description }}</td>
                <td>{{ sondageData.sondage.publique ? 'Yes' : 'No' }}</td>
                <td>{{ sondageData.sondage.createdAt ? sondageData.sondage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sondageData.sondage.dateFin ? sondageData.sondage.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sondageData.sondage.voteCount ?? 0 }}</td> {# Affiche le total des votes ou 0 si aucun #}

                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_sondage_show', {'id': sondageData.sondage.id}) }}">show</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_sondage_delete', {'id': sondageData.sondage.id}) }}">delete</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

      {% endblock %}
{% endblock %}
