{% extends '/admin/index.html.twig' %}

{% block title %}New Signalement{% endblock %}

{% block body %}
    {% block spinner %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock %}
      {% block content %}
<div class="content">
    {% block navbar %}
        {{ parent() }}
    {% endblock %}    <h1>Create new Signalement</h1>

    {{ include('signalement/_form.html.twig') }}

    <a href="{{ path('app_signalement_index') }}">back to list</a>
</div>

      {% endblock %}
{% endblock %}
