{% extends '/admin/index.html.twig' %}

{% block title %}
    Theme index

{% endblock %}

{% block body %}
    {% block spinner %}
        {{ parent() }}
    {% endblock %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock %}
      {% block content %}
<div class="content">
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    <h1>Theme index</h1>
    <a class="btn btn-sm btn-primary" href="{{ path('app_theme_new') }}">Create new</a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Nombre de sondages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for themeData in themes %}
            <tr>
                <td>{{ themeData.theme.id }}</td>
                <td>{{ themeData.theme.libelle }}</td>
                <td>{{ themeData.sondageCount }}</td> {# Nombre de sondages associés #}

                <td>
                    <a class="btn btn-sm btn-primary"  href="{{ path('app_theme_edit', {'id': themeData.theme.id}) }}">Edit</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_theme_delete', {'id': themeData.theme.id}) }}">Delete</a>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

      {% endblock %}
{% endblock %}
